.cursor{
    position:fixed;
    left:0;
    top:0;
  
    width:18px;
    height:18px;
  
    border-radius:50%;
  
    background:#d4af37;

    box-shadow:
      0 0 12px #d4af37,
      0 0 30px rgba(212,175,55,.5),
      0 0 60px rgba(212,175,55,.25);
  
    pointer-events:none;
  
    transform:translate(-50%,-50%);
  
    mix-blend-mode:difference;
  
    z-index:999999;
  
    will-change:transform;
  }
  
  @media (max-width:900px){
    .cursor{
      display:none;
    }
  }